
/*
  max-width anchura máxima
  min-width anchura mínima
  max-height altura máxima
  min-height altura mínima
*/

Pantalla @media y ( ancho máximo :  871 px ) {
    # título : flotar {
      espaciado entre letras : normal;
    }  }

  Pantalla @ media y ( ancho máximo :  754 px ) {
    # título {
      pantalla : ninguno;
    }

    # contenido-principal {
        dirección de flexión : columna;
      }

      # boton musica-lista  {
        pantalla : bloque en línea;
        ancho : automático;
      }

      # botón de cansiones-lista  : pasar el mouse , 
  # boton cansiones-lista  . seleccionado {
    ancho : automático;
  }

  . bloque de fondo {
    margen :  10 px ;
  }
}

Pantalla @media y ( ancho máximo :  380 px ) {
    # ligas {
      pantalla : ninguno;
    }

    # encabezado {
        justificar-contenido : centro;
      }
    }